.text-shadow{

    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.flashes h4{

  line-height: 2;

}

:root {
        --main-color: #4a76a8;
    }

    .bg-main-color {
        background-color: var(--main-color);
    }

    .text-main-color {
        color: var(--main-color);
    }

    .border-main-color {
        border-color: var(--main-color);
    }
    nav{
        background-color: #4a76a8;
    }