.text-shadow{

    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.flashes h4{

  line-height: 2;

}
.btn-small{
 margin: 5px;


}

.collapsible-header .col strong{
 margin: 5px;
 line-height: 42px;


}

:root {
        --main-color: #12A5DA;
    }

    .bg-main-color {
        background-color: var(--main-color);
    }

    .text-main-color {
        color: var(--main-color);
    }

    .border-main-color {
        border-color: var(--main-color);
    }
    nav{
        background-color: #12A5DA;
    }
